* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

h1.generation {
  position: absolute;
  top: calc(50% - 250px);
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

h2.representation {
  position: absolute;
  top: calc(50% + 250px);
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
